<main>
  <header>
    <h1>Meu QR Code</h1>
  </header>

  <section id="qr-gen">
    <h2>Gerar o QR</h2>
    <div id="info">
      <div id="qr-types">
        <div class="option" [class.selectedOption]="selectedType === 'link'" (click)="setSelectedType('link')">
          <p for="Link">Link</p>
        </div>

        <div class="option" [class.selectedOption]="selectedType === 'whatsapp'" (click)="setSelectedType('whatsapp')">
          <p for="Whatsapp">Whatsapp</p>
        </div>
      </div>

      <div id="qr-content-container" [ngSwitch]="selectedType">
        <div *ngSwitchCase="'link'" id="link">
          <label for="url">Digite seu link</label>
          <input #link type="url" name="url" id="" placeholder="https://...">
        </div>

        <div *ngSwitchCase="'whatsapp'" id="whatsapp">
          <label for="url">Número</label>
          <input #number type="tel" name="url" id="phone" maxlength="13" minlength="13" pattern="[0-9]{13}"
            placeholder="5581985444683">

          <label for="url">Digite sua mensagem aqui</label>
          <input #message type="text" name="url" id="" placeholder="Olá...">
        </div>
      </div>
      <!-- <input type="text" #qrContent> -->
    </div>

    <div id="qr-container">
      <h3>Seu QR code aqui</h3>

      <div #qr id="qr">

      </div>

      <button type="button" id="genBtn" (click)="genQr()">
        Gerar QR code
      </button>

      <button (click)="downloadQr()">Download</button>
    </div>
  </section>

  <footer>
    <h5>Desenvolvido com carinho por <br>
      <a href="https://clovischakrian.com.br" target="_blank">
        Clóvis Chakrian
      </a>
    </h5>
  </footer>
</main>

<router-outlet></router-outlet>
