/* You can add global styles to this file, and also import other style files */
* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  box-sizing: border-box;
}

a {
  color: #FFF;
}

 html {
  background-color: #F5F5F5;
  box-sizing: border-box;
 }

 body {
  box-sizing: border-box;
 }
